.Navbar {
  height: 24px;
  display: flex;
  flex-direction: row;
  padding: 8px 32px 8px 32px;
  align-items: baseline;
  user-select: none;
  flex: 0 0 auto; }
  .Navbar .title {
    text-align: center;
    font-size: 1.2em;
    padding: 0 16px 0 16px;
    cursor: default;
    flex: 1 0 0; }
  .Navbar .tabs {
    display: flex;
    flex: 1 0 0; }
    .Navbar .tabs .tab {
      font-size: 0.8em;
      padding: 0 8px 0 8px;
      cursor: pointer;
      color: #686868; }
    .Navbar .tabs .tab:hover {
      color: #3b217c; }
    .Navbar .tabs .tab.selected {
      font-weight: 700; }
  .Navbar .tabs.left {
    flex-direction: row; }
    .Navbar .tabs.left .tab {
      text-align: left; }
  .Navbar .tabs.right {
    flex-direction: row-reverse; }
    .Navbar .tabs.right .tab {
      text-align: right; }
